{
    "tabWidth": 2,
    "printWidth": 80,
    "singleQuote": true,
    "trailingComma": "all",
    "semi": false,
    "arrowParens": "always",
    "htmlWhitespaceSensitivity": "ignore",
    "quoteProps": "consistent",
    "endOfLine": "auto"
}